TWRP_DIR=/home/username/twrp
TWRP_IMAGE_NAME=test.img
NBD_SERVER_SCRIPT_DIR=/home/username/nbd
NBD_SERVER_SCRIPT_NAME=nbdserver.sh
FBE_FIWALK_DIR=/home/username/fbe
FBE_FIWALK_NAME=..
ENCRYPTION_NAME=FDE
BLOCK=/dev/block/dm-0
OUTPUT_XML_DUMP_BEFORE=dump_before
OUTPUT_XML_DUMP_AFTER=dump_after
APP_AUTOMATION_SCRIPT_DIR=..
APP_AUTOMATION_SCRIPT_NAME=test.py
RUN_COUNT=3
INODE_NUMBER=2
