TWRP_DIR=...
TWRP_IMAGE_NAME=...
NBD_SERVER_SCRIPT_DIR=...
NBD_SERVER_SCRIPT_NAME=nbdserver.sh
FBE_FIWALK_DIR=...
FBE_FIWALK_NAME=filestructureExtractor.py
OUTPUT_XML_DUMP_BEFORE=before_receive_message
OUTPUT_XML_DUMP_AFTER=after_receive_message
APP_AUTOMATION_SCRIPT_DIR=...
APP_AUTOMATION_SCRIPT_NAME=receive-messages.py
SCRIPT_PATH=send_message_emulator.sh
RUN_COUNT=10
INODE_NUMBER=2
